@model HomeVM

<section id="about-boxes" class="about-boxes">
    <div class="container" data-aos="fade-up">
        @foreach (var item in Model.Cauhinh)
        {
            <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="card">
                        <img src="~/assets/img/@item.KehoachThumb" class="card-img-top" alt="...">
                        <div class="card-icon">
                            <i class="ri-calendar-check-line"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">@item.Kehoach</a></h5>
                            <p class="card-text">
                                @item.KehoachNoidung
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        <img src="~/assets/img/@item.TamnhinThumb" class="card-img-top" alt="...">
                        <div class="card-icon">
                            <i class="ri-brush-4-line"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">@item.Tamnhin</a></h5>
                            <p class="card-text">
                                @item.TamnhinNoidung
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                        <img src="~/assets/img/@item.SumenhThumb" class="card-img-top" alt="...">
                        <div class="card-icon">
                            <i class="ri-movie-2-line"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">@item.Sumenh</a></h5>
                            <p class="card-text">
                                @item.SumenhNoidung
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section> 