@model VNETC_WebApp.Areas.Admin.Data.TPost

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Chi tiết bài viết</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tencongtrinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tencongtrinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chudautu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chudautu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thumb1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thumb1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thumb2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thumb2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thumb3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thumb3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>

</div>
