@model IEnumerable<VNETC_WebApp.Areas.Admin.Data.TDoitac>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoitacId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DoitacId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DoitacId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
