@model WebApp.Areas.Admin.Data.TDieudong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TDieudong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenloaixe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenloaixe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenloaicongtrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenloaicongtrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDuyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDuyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soxe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soxe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthaiduyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trangthaiduyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DieudongId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
