@model IEnumerable<WebApp.Areas.Admin.Data.TDonvi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

        @if (ViewBag.MsgErr != null)
        {
            <div class="alert alert-danger" id="Alert_teoti" role="alert">
                @ViewBag.MsgErr
            </div>
        }

        @if (ViewBag.Msg != null)
        {
            <div class="alert alert-success" id="Alert_teoti1" role="alert">
                @ViewBag.Msg
            </div>
        }


    <table class="table"> 
        <thead> 
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaDv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenDv)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaDv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDv)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MaDvId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MaDvId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MaDvId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
