@model IEnumerable<WebApp.Areas.Admin.Data.TLoaicongtrinh>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenloaicongtrinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenloaicongtrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoaicongtrinhId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoaicongtrinhId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoaicongtrinhId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
