@model IEnumerable<VNETC_WebApp.Areas.Admin.Data.TNganhnghe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<h1>Ngành nghề</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tennganhnghe1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenCongty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gioithieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tentienganh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenviettat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nguoidaidien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dienthoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loaihinhdoanhnghiep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDkkd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quanlyboi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnganhnghe1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tennganhnghe2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnganhnghe2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tennganhnghe3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnganhnghe3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tennganhnghe4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnganhnghe4)
            </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tennganhnghe1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCongty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioithieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tentienganh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenviettat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nguoidaidien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loaihinhdoanhnghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDkkd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quanlyboi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnganhnghe1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tennganhnghe2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnganhnghe2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tennganhnghe3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnganhnghe3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tennganhnghe4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnganhnghe4)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.NganhngheId">Sửa</a>
            </td>

        </tr>
}
    </tbody>
</table>
