@model VNETC_WebApp.Areas.Admin.Data.TNganhngheCt2

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TNganhngheCt2</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NganhngheCt2id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
