@model VNETC_WebApp.Areas.Admin.Data.TCauhinh

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TCauhinh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Welcome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Welcome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chungtoila)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chungtoila)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khachhanghailong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khachhanghailong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duandathicong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duandathicong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namkinhnghiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namkinhnghiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giaithuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giaithuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taisaolachungtoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taisaolachungtoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Videogioithieucongty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Videogioithieucongty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gioithieucongty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioithieucongty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camket1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camket1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camket2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camket2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camket3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camket3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camket4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camket4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camket5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camket5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ketluan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ketluan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kehoach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kehoach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KehoachThumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KehoachThumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KehoachNoidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KehoachNoidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamnhin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamnhin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamnhinThumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamnhinThumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamnhinNoidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamnhinNoidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sumenh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sumenh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumenhThumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumenhThumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumenhNoidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumenhNoidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chinhanh1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chinhanh1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chinhanh2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chinhanh2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chinhanh3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chinhanh3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chinhanh4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chinhanh4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chinhanh5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chinhanh5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vpdd1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vpdd1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vpdd2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vpdd2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vpdd3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vpdd3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vpdd4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vpdd4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vpdd5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vpdd5)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CauhinhId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
