@model IEnumerable<VNETC_WebApp.Areas.Admin.Data.TCauhinh>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Welcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chungtoila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khachhanghailong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duandathicong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Namkinhnghiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Giaithuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taisaolachungtoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Videogioithieucongty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gioithieucongty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camket1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camket2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camket3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camket4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camket5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ketluan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kehoach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KehoachThumb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KehoachNoidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamnhin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TamnhinThumb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TamnhinNoidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sumenh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumenhThumb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumenhNoidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chinhanh1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chinhanh2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chinhanh3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chinhanh4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chinhanh5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vpdd1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vpdd2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vpdd3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vpdd4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vpdd5)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Welcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chungtoila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khachhanghailong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duandathicong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Namkinhnghiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giaithuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taisaolachungtoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Videogioithieucongty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioithieucongty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camket1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camket2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camket3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camket4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camket5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ketluan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kehoach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KehoachThumb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KehoachNoidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamnhin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TamnhinThumb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TamnhinNoidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sumenh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumenhThumb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumenhNoidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chinhanh1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chinhanh2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chinhanh3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chinhanh4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chinhanh5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vpdd1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vpdd2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vpdd3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vpdd4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vpdd5)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CauhinhId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CauhinhId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CauhinhId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
